In [1]:
import pandas as pd
import nltk

In [2]:
data = pd.read_csv("imdb-reviews-pt-br.csv")

In [3]:
data.head()

,id,text_en,text_pt,sentiment
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg

In [4]:
data.sentiment.value_counts()

neg    24765
pos    24694
Name: sentiment, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

In [15]:
train, test, classetreino, classeteste= train_test_split(bow, data.sentiment, random_state=42)

In [7]:
from sklearn.linear_model import LogisticRegression

In [16]:
lr = LogisticRegression()
lr.fit(train ,classetreino)
acc = lr.score(test, classeteste)
print(acc)

0.6583097452486858

In [9]:
classifier = data.sentiment.replace(["neg", "pos"], [0, 1])

In [10]:
data["sentiment"] = classifier

In [ ]:
data

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
texto = ["Assisti um filme ruim", "Assisti um filme bom"]

In [13]:
vetorizar = CountVectorizer(lowercase = False, max_features =50)

In [ ]:
bow = vetorizar.fit_transform(texto)
vetorizar.get_feature_names()

In [ ]:
 pd.DataFrame.sparse.from_spmatrix(bow, columns=vetorizar.get_feature_names())

In [14]:
bow = vetorizar.fit_transform(data.text_pt)

In [ ]:
bow.shape

In [ ]:
import nltk
frase= ["um filme bom", "um filme ruim"]
freq = nltk.FreqDist(frase)

In [ ]:
freq

In [ ]:
from nltk import tokenize
frase = "Bem vindo a Disneylandia insana de mickey"

In [ ]:
token = tokenize.WhitespaceTokenizer()
token2 = token.tokenize(frase)

In [ ]:
token2

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
tfidf = TfidfVectorizer(lowercase=False, max_features = 500, ngram_range = (1,2))
caracteristicas = tfidf.fit_transform(data["text_pt"])
treino, teste, classeTreino, classeTeste = train_test_split(caracteristicas, data["sentiment"])
pd.DataFrame(caracteristicas.todense(), columns = tfidf.get_feature_names())

,10,Além,As,Bem,Como,DVD,De,Ela,Ele,Eles,...,você pode,volta,vou,vê,às,às vezes,época,ótimo,única,único
0,0.000000,0.124770,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.125289
1,0.079799,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.087330,0.000000
2,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.223464
3,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.08728,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.316268,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49454,0.000000,0.000000,0.0,0.0,0.125089,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
49455,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
49456,0.055192,0.066572,0.0,0.0,0.000000,0.0,0.066435,0.000000,0.098564,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.060401,0.000000
49457,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
49458,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.129554,0.126788,0.000000,0.0,...,0.130133,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [35]:
lr.fit(treino, classeTreino)
acc = lr.score(teste, classeTeste)
print(acc)

0.811726647796199